if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc" "sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM="
fi

export APP_NAME="app_name"
export REPO="$(expand_path .)"
export LOCAL="$REPO/.local"
export LOCAL_ENVRC="$LOCAL/.envrc"
export DEVENV_ROOT_FILE="$(mktemp)"

mkdir -p $LOCAL
[[ ! -f $LOCAL_ENVRC ]] && echo -e "#!/usr/bin/env bash\n" >$LOCAL_ENVRC

source_up_if_exists
source_env_if_exists $LOCAL_ENVRC

printf %s "$REPO" >"$DEVENV_ROOT_FILE"
use flake . --override-input devenv-root "file+file://$DEVENV_ROOT_FILE"
