#!/usr/bin/env bash

export APP_NAME="phoenix"
export REPO="$(expand_path .)"
export SUBCOMMANDS="$REPO/scripts/subcommands"
export LOCAL="$REPO/.local"
export LOCAL_ENVRC="$LOCAL/dev.envrc"

mkdir -p $LOCAL

source_up_if_exists
source_env_if_exists $LOCAL_ENVRC

PATH_add scripts/bin

if [[ $AUTO_ACTIVATE == "true" ]]; then
  use flake --impure
fi
