#!/usr/bin/env bash

if ! has nix_direnv_version || ! nix_direnv_version 2.2.1; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.2.1/direnvrc" "sha256-zelF0vLbEl5uaqrfIzbgNzJWGmLzCmYAkInj/LNxvKs="
fi

export APP_NAME="my_app"
export REPO="$(expand_path .)"
export SCRIPTS="$REPO/bin/scripts"
export LOCAL="$REPO/.local"
export LOCAL_ENVRC="$LOCAL/dev.envrc"

mkdir -p $LOCAL
[[ ! -f $LOCAL_ENVRC ]] && echo -e "#!/usr/bin/env bash\n" >$LOCAL_ENVRC

source_up_if_exists
source_env_if_exists $LOCAL_ENVRC

PATH_add bin

if [[ $AUTO_ACTIVATE == "true" ]]; then
  use flake . --impure
fi
