name: Build and Cache

on:
  push:
  pull_request:

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Free disk space
        run: |
          # Remove unused tools to free up disk space
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
          sudo rm -rf /opt/hostedtoolcache/CodeQL
          sudo docker image prune --all --force

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Setup Cachix
        uses: cachix/cachix-action@v15
        with:
          name: ${{ secrets.CACHIX_CACHE }}
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Build NixOS configuration
        run: nix build .#nixosConfigurations.LukesNixosRB.config.system.build.toplevel

      - name: Build home configuration
        run: nix build .#homeConfigurations.coder.activationPackage

  build-macos:
    runs-on: macos-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
        with:
          reinstall: true

      - name: Setup Cachix
        uses: cachix/cachix-action@v15
        with:
          name: ${{ secrets.CACHIX_CACHE }}
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Build macOS configurations
        run: |
          nix build .#darwinConfigurations.LukesPersonalMBP.system
          nix build .#darwinConfigurations.LukesWorkMBP.system
